.navigation {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
}

.avatar--nav {
	@include avatar(2rem);
}

.logged_as {
	display: flex;
	align-content: space-between;
	align-items: center;
	gap: 1rem;
}

.nav__name{
    display:none;
}

.notification{
	width: 1.2rem;
	background-color: #FF0000;
	border-radius: 1.2rem;
	padding: 0.5rem;
	display: flex;
	text-align: center;
	line-height: 1;
	height: 1.2rem;
	color:$whites;
	font-size: 0.7rem;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 29px;
	animation: popin 0.2s forwards;
	border:none;
	}

 @keyframes popin{
	from{
		transform:scale(0);
	}
	to{
		transform:scale(1);
	}
 }