@import './_partials/variables';
@import './_partials/navigation';
@import './_partials/profiles';
@import './_partials/friends';
@import './_partials/conversations';
@import './_partials/messages';
@import './_partials/notifications';
@import './_partials/likes';
@import './_partials/dashboard';
@import './_partials/forms';

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    text-decoration:none;
    list-style-type: none;
}

html,body{
    height:100%;
}

body{
    background-color:#00324f;
    color: rgb(103, 163, 193);
    font-family:inter;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:100%;

    a{
        color:white;
    }  

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem;
    }

    input, select, textarea {
        font-family: inter;
        font-size: 1rem;
    }



    textarea, textarea:focus-within,input{
        width:100%;
        resize:vertical;
        background-color:rgba(0,0,0,0.2);
        padding:1rem;
        border:none;
        color: rgb(103, 163, 193);
        outline: 1px solid rgba(103, 163, 193, 0.15);
        font-size:1rem;
    }

}

.entries__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
    gap:1rem;

    .entry__block{
        border: 1px solid rgb(103, 163, 193);
        padding:2rem;
        padding-top:3rem;
        border-radius:0.5rem;
        background-image:linear-gradient(45deg, transparent, rgba(103, 163, 193,0.2));
        position:relative;
        opacity:0;

        .entry__avatar{
            align-self:center;
        }

        .avatar--small {
            width: 5rem;
            height: 5rem;
            object-fit:cover;
            
            border-radius: 100%;
            border: -0.9rem #67a3c1 solid;
        }

        .toolbox {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            gap: 1rem;
            padding:1rem;


            button, a{
                background:none;
                border:none;
                color:white;
                text-decoration: none;
                cursor:pointer;
            }
        }

    }
}

@for $i from 1 to 200{
    .entry__block:nth-child(#{$i}){
        animation:appearing 0.5s forwards;
        animation-delay: 0.04s * $i;
    }
}

.createNew {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	background-image: linear-gradient(45deg, transparent, rgba(103, 163, 193, 0.2));
	width: 4rem;
	height: 4rem;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4rem;
	z-index: 1001;
	font-size: 3rem;
}

#form-body {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
    gap:1rem;

    button{
        appearance:unset;
        background-color:transparent;
        border: 1px solid rgb(103, 163, 193);
        background-image:linear-gradient(45deg, transparent, rgba(103, 163, 193,0.2));
        color:white;
    }
}

.back, .addlocation{
    color:white;
}

.tag__location{
    background-color:rgba(0,0,0,0.2);
    border-radius:0.2rem;
    padding:0.2rem;
    color:white;
}

@keyframes appearing{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.infoblocks {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
    margin-top:0.4rem;

    span{
        background-color:rgba(0,0,0,0.2);
        padding:0.2rem;
        border-radius:0.2rem;
    }
}

.show{
    background-color:rgba(0,0,0,0.2);
    padding:0.2rem;
    color:white;
    border:none;
}

.show:hover{
    background-color:teal;
}

#show__inside{
    display:none;
}

#show__inside.visible{
    display:flex;
    flex-direction:column;
    position:absolute;
    z-index:999999;
    top:2rem;

    a{
        color:white;
        background-color:rgba(103, 163, 193,0.8);
        width:8rem;
        padding:0.3rem;
        backdrop-filter:blur(5rem);
        border-bottom:1px solid rgba(103, 163, 193,0.2);

    }
}

.pagination{
	display: flex;
    width:100%;

    li {
        border: 1px solid #67a3c1;
        height: 2rem;
        place-content: center;
        place-items: center;
        display: flex;
        flex-grow: 1;
    }

}

.friendwraps {
	display: flex;
	width: 100%;
	gap: 1rem;
}


.success {
	position: absolute;
	top: 1rem;
	z-index: 20;
	left: 1rem;
	background-color: #18232f;
	padding: 1rem;
	border: 1px solid #51a0cc;
}
.errorMessage {
	position: absolute;
	top: 1rem;
	z-index: 20;
	left: 1rem;
	background-color: #18232f;
	padding: 1rem;
	border: 1px solid red;
}

footer {
	width: 100%;
	text-align: center;
	background-color: #1a3e53;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: #00324f;
	text-align: center;
	background-image: linear-gradient(45deg, transparent, rgba(103, 163, 193, 0.2));
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    padding:1rem;

}

.button--dark {
	background-color: #00283f;
	border: none;
	border-radius: 100rem;
	padding: 0.8em 1.5em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.homepage__links{
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
    font-size:2rem;

    a{
        background-color:#00283f;
        padding:2rem;
        border-radius:100rem;
        border:1px solid rgb(0, 90, 128);
    }
}

.category__button {
	padding: 0.4rem 1.1rem;
	border: 1px solid;
	width: fit-content;
	border-radius: 0.5rem;
}

.categories {
	display: flex;
	gap: 0.7rem;
}

.entry__content {
	display: flex;
    flex-direction:column-reverse;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
}

.entry__post {
	flex-grow: 1;
	border-top: 0.1rem solid;
    padding-top:1rem;
}

.entry__username{
    font-family:"playfair display";
    font-size:1.3rem;
    align-self:center;
}

.entry__username::before{
    content:'@';
}

.entry__block h3 {
	border: 1px solid rgba(255,255,255,0.1);
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 0 45px;
}



@media screen AND (min-width:800px){
    .entry__content{
        flex-direction:row;

    }

    .entries__wrapper{
        max-width:1000px;
        align-self:center;
    }

    .entry__post{
        border-right: 0.1rem solid;
        border-top:none;
        width:15%;
        padding: 0 2rem 0 0;
    }

    .pagination {
        display: flex;
        width: 50%;
        justify-content: center;
        margin: auto;
    }
}