@mixin fancy_titles($size){
    font: {
        size:$size;
        family:"Playfair Display";
    }
}

@mixin flexed($direction: row, $justify: flex-start , $align : flex-start, $gap : $gaps){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify;
    align-items:$justify;
    gap:$gap;
}

@mixin absolute($top, $right, $bottom, $left){
    position:absolute;
    inset:$top $right $bottom $left;
}

@mixin avatar($size){
    border-radius:$size * 2;
    height: $size;
    width: $size;
    object-fit:cover;
}