.avatar {
	width: 9rem;
	aspect-ratio: 1/1;

    img {
        width: 9rem;
        object-fit: cover;
        height: 9rem;
        border-radius:18rem;
    }
}

.infos {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
    width:80%;

    a {
        place-self: flex-end;
    }

    .profile_row {
        display: flex;
        background-color: rgba(0,0,0,0.1);
        padding: 0.7rem;
        place-content: space-between;
    }
}

.maincontent h3 {
	font-family: 'PlayFair Display';
	font-size: 3rem;
}

.maincontent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap:1rem;
}

.deleteAccount {
	background-color: #00000030;
	color: #ff2a2a;
	padding: 1rem;
	border: 1px solid red;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 11rem;
}

.nothing__to__show {
    border: 1px solid rgba(255,255,255,0.1);
    padding: 0.9rem;
    border-radius: 0.3rem;
    background-color: rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.4);
}